<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Home</title>

</head>
<body>
<div th:fragment="content">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-2">
        <ul class="navbar-nav mr-auto">
            <li class="text-white nav-item">
                <p class="d-inline"><strong th:text="${currentUser.getEmail()}"></strong></p>
                <p class="d-inline">with roles:</p>
                <div class="d-inline" th:each="role : ${currentUser.getRoles()}">
                    <p class="d-inline" th:text="${role}"></p>
                </div>
            </li>
        </ul>
        <a class="text-muted my-2 my-sm-0" href="/logout">Logout</a>
    </nav>
</div>
</body>
</html>